@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{font-family: 'Roboto', sans-serif; box-sizing: content-box;}
.fs-24-bold{font-size: 24px; font-weight: bold; background-color: #104494; color: white;}
.fs-18{font-size: 18px;}
.mt-75{margin-top: 75px;}

.caja{
    height: 600px;
    width: 85%;
    top: 80px;
    left: 10%;
    position: absolute;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);    
}

.fondo_transparente{
    z-index: 1;
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

.modal_cerrar{
    position: absolute;
    right: 20px;
    top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bloque{
    border: #c9c0c0 solid 1px;
    border-top: none;
}